<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>
    <img src="data:image/png;base64,<%= guildBanner %>" />
    <h2><%= guild.name %></h2>
    <p><%= guild.tag %></p>
    <p><%= guild.description %></p>
    <p><%= guild.leader_name %></p>
    <p>Número de membros: <%= members.length %>/<%= guild.max_members %></p>
<body>
    
</body>

</html>