<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%
        let description = `"${guild.name}" ${guild.frozen == 0 ? 'é' : 'foi'} uma guilda liderada e fundada por ${guild.leader_name}. Foi criada ${new Date(guild.created_at).toLocaleString('pt-BR', { weekday: 'long', year: "numeric", month: "long", day: "numeric", hour: 'numeric', minute: 'numeric' })}. Atualmente, possui ${members.length} ${members.length == 1 ? 'membro' : 'membros'} e está ${guild.frozen == 0 ? 'ativa' : 'suspensa'}${guild.frozen == 0 ? ', apta a aceitar novos membros e participar de eventos e confrontos' : ' e não pode aceitar novos membros ou participar de eventos e confrontos'}.`;
    %>
    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="wbc, guild, guilda, wiki, jogos, <%= guild.name %>">
    <meta name="author" content="WBC Guild Wiki">
    <meta name="robots" content="index, follow">

    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= title %>">
    <meta property="og:description" content="<%= description %>">
    <meta property="og:image" content="<%= `${baseURL}/api/guild-banner/${guild.id}` %>">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= title %>">
    <meta name="twitter:description" content="<%= description %>">
    <meta name="twitter:image" content="<%= `${baseURL}/api/guild-banner/${guild.id}` %>">

    <title>
        <%= title %>
    </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/index.css">
</head>

<body>
    <%- include('header.ejs') %>
        <div class="content">
            <div class="lateral-menus">
                <div id="summary" class="lateral-menu-container">
                    <p class="lateral-menu-header">Conteúdos</p>
                    <a class="summary-topic" href="#">(Topo)</a>
                </div>
            </div>
            <div class="main-content">
                <p class="title">
                    <%= guild.name %> (Guilda)
                </p>
                <div class="containers">
                    <div class="main-text">
                        <p style="margin: 10px;" id="main-description">
                            <b>"<%= guild.name %>"</b>
                            <%= guild.frozen==0 ? 'é' : 'foi' %> uma <i>guilda</i> liderada e fundada por <b><%= guild.leader_name %></b>.
                            Foi criada <b><%= new Date(guild.created_at).toLocaleString('pt-BR', { weekday: 'long' , year: "numeric" ,
                                        month: "long" , day: "numeric" , hour: 'numeric' , minute: 'numeric' }) %></b>.
                            Atualmente, possui <b><%= members.length %></b> <%= members.length==1 ? 'membro' : 'membros' %> e está
                            <b><%= guild.frozen==0 ? 'ativa' : 'suspensa' %></b><%= guild.frozen==0 ? ', apta a aceitar novos membros e participar de eventos e confrontos'
                                        : ' e não pode aceitar novos membros ou participar de eventos e confrontos' %>.
                        </p>
                        <p style="margin: 10px;">
                            <% if (guild.description) { %>
                                A descrição e lema da <i>guilda</i> é: "<i><%= guild.description %></i>".
                            <% } %>
                        </p>
                        <section id="membros">
                            <p class="topic">
                                Membros
                            </p>
                            <p style="margin: 10px;">
                                Os membros de uma <i>guilda</i> são divididos em dois cargos:
                                <ul style="margin: 0 10px;">
                                    <li><b>Líder:</b> Fundador da <i>guilda</i>, responsável pela gestão e decisões.</li>
                                    <li><b>Membro:</b> Demais integrantes que entraram após a criação.</li>
                                </ul>
                            </p>
                            <p style="margin: 10px;">
                                Os atuais membros da <i>guilda</i> são:
                                <div id="guild-members-table" class="table"></div>
                            </p>
                        </section>
                        <section id="relações">
                            <p class="topic">
                                Relações
                            </p>
                            <p style="margin: 10px;">
                                Uma <b>relação</b> define o tipo de interação que uma <i>guilda</i> possui com outra.
                                Os tipos de relações são: Aliado, Inimigo, Guerra, Trégua e Neutro.
                                Cada relação pode assumir os seguintes estados: Pendente, Ativa, Expirada ou Cancelada.
                            </p>
                            <p style="margin: 10px;">
                                <% if (relations.length> 0) { %>
                                    As relações de <b><%= guild.name %></b> com outras <i>guildas</i> são:
                                    <div id="guild-relations-table" class="table"></div>
                                <% } else { %>
                                    Atualmente, <b><%= guild.name %></b> ainda não declarou uma relação com outra <i>guilda.</i>
                                <% } %>
                            </p>
                        </section>
                    </div>
                    <div class="lateral-table">
                        <div class="main-container">
                            <p class="img-subtitle">Estandarte</p>
                            <img class="guild-banner" src="<%= `${baseURL}/api/guild-banner/${guild.id}` %>" />
                        </div>
                        <table class="justify-table">
                            <tbody>
                                <tr>
                                    <th width="40%">Nome</th>
                                    <td>
                                        <%= guild.name %>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Tag</th>
                                    <td>
                                        <%= guild.tag ?? '-' %>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Líder/Fundador</th>
                                    <td>
                                        <%= guild.leader_name %>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Membros</th>
                                    <td>
                                        <%= members.length %>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Status</th>
                                    <td>
                                        <%= guild.frozen==0 ? 'Ativa' : 'Suspensa' %>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Criada em</th>
                                    <td>
                                        <%= new Date(guild.created_at).toLocaleString('pt-BR', { year: "numeric" ,
                                            month: "numeric" , day: "numeric" , hour: "numeric" , minute: "numeric" }) %>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</body>
<script src="/scripts/index.js" defer></script>
<script>
    window.addEventListener('DOMContentLoaded', function () {
        setSummary();

        let columns = [
            {
                "name": "Nome",
                "sorting": true,
                "width": 33
            },
            {
                "name": "Cargo",
                "sorting": true,
                "width": 33
            },
            {
                "name": "Entrou em",
                "sorting": true,
                "width": 33
            }
        ]

        const members = <%- JSON.stringify(members) %>;

        let rows = []
        members.forEach((member) => {
            rows.push([
                member.player_name,
                getTranslatedMemberRole(member.role),
                new Date(member.joined_at).toLocaleDateString('pt-BR', {
                    year: "numeric",
                    month: "numeric",
                    day: "numeric",
                    hour: "numeric",
                    minute: "numeric"
                })
            ]);
        });

        const membersTable = document.getElementById('guild-members-table');
        table(membersTable, columns, rows);

        columns = [
            {
                "name": "Origem",
                "sorting": true,
                // "width": 33
            },
            {
                "name": "Destino",
                "sorting": true,
                // "width": 33
            },
            {
                "name": "Tipo",
                "sorting": true,
                // "width": 33
            },
            {
                "name": "Status",
                "sorting": true,
                // "width": 33
            },
            {
                "name": "Definido por",
                "sorting": true,
                // "width": 33
            },
            {
                "name": "Data/Hora",
                "sorting": true,
                // "width": 33
            }
        ]

        const relations = <%- JSON.stringify(relations) %>;

        rows = []
        relations.forEach((relation) => {
            rows.push([
                `<a href='${relation.guild1_id}'>${relation.guild1_name}</a>`,
                `<a href='${relation.guild2_id}'>${relation.guild2_name}</a>`,
                getTranslatedGuildRelationType(relation.relation_type),
                getTranslatedGuildRelationStatus(relation.status),
                relation.initiator_name,
                new Date(relation.created_at).toLocaleDateString('pt-BR', {
                    year: "numeric",
                    month: "numeric",
                    day: "numeric",
                    hour: "numeric",
                    minute: "numeric"
                })
            ]);
        });

        const relationsTable = document.getElementById('guild-relations-table');
        table(relationsTable, columns, rows);
    })
</script>
</html>